*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0; /* reset margins of browsers which might have specific values for this parameter */
}

a {
  text-decoration: none;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}
